.search {
  text-align: center;
  padding: 20px;
}
h1,
h2,
h3,
h4 {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
}
h1 {
  padding: 20px;
}

.wind {
  display: block;
  color: lightblue;
  font-size: 50px;
}
.windtemp {
  font-family: "Shadows Into Light", cursive;
  font-size: 25px;
  text-align: center;
}
.windspeed {
  font-family: "Shadows Into Light", cursive;
  font-size: 25px;
  text-align: center;
}
.weatherdescription {
  font-family: "Shadows Into Light", cursive;
  font-size: 25px;
  text-align: center;
}
.weatherhumidity {
  font-family: "Shadows Into Light", cursive;
  font-size: 25px;
  text-align: center;
}
.search-button {
  background-color: #fdfcca;
  border-radius: 6px;
}
.search-form-input {
  border-radius: 6px;
}
body {
  text-align: center;
  background-color: #fdf5c6;
}

button {
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius: 20px;
  background-color: #aac7d7;
}
footer {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  font-size: 12px;
}
